[importlinter]
root_package = nested
source_dir = src

[importlinter:contract:layered_architecture]
name = Layered architecture
type = layers
containers = nested
layers =
  cli
  app
  service
  model
